.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 70px);
  grid-template-rows: repeat(10, 70px);
  grid-gap: 2px;
}


@media only screen and (max-width: 1300px) {
  .periodic-table {
    scale: 0.8;
  }
}

@media only screen and (max-width: 1050px) {
  .periodic-table {
    scale: 0.6;
  }
}

@media only screen and (max-width: 780px) {
  .periodic-table {
    scale: 0.4;
  }
}

@media only screen and (max-width: 550px) {
  .periodic-table {
    transform: rotate(90deg);
    scale: 0.45;
  }

  .element {
    transform: rotate(270deg);
  }

  .element:hover {
    transform: rotate(270deg);
  }

  .list {
    transform: rotate(270deg);
  }

  .list1 {
    justify-content: end;
  }
}

.element {
  background: white;
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.element .number {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .name {
  font-size: 9.5px;
  position: absolute;
  bottom: 3px;
}

.element .atomic-weight {
  font-size: 8px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.no-element {
  transform: scale(1, 1) !important;
  z-index: 0 !important;
  cursor: context-menu !important;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.pop-up {
  animation-name: popup;
  animation-duration: 300ms;
  padding-top: 20px;
}

@keyframes popup {
  0% {top: 100%;}
  100% {top: 0%;}
}

.pop-down {
  animation-name:  popdown;
  animation-duration: 300ms;
}

@keyframes popdown {
  0% {top: 0%;}
  100% {top: 100%;}
}

.arrow-a-weight {
  top: 53px;
  left: 165px;
}

.arrow-symbol {
  left: 135px;
}

.arrow-name {
  bottom: 55px;
  left: 140px;
}

.arrow-a-number {
  bottom: 150px;
  right: 175px;
}