.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 70px);
  grid-template-rows: repeat(10, 70px);
  grid-gap: 3px;
}

.element {
  background: white;
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.element .number {
  font-size: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .name {
  font-size: 11px;
  position: absolute;
  bottom: 3px;
}

.element .atomic-weight {
  font-size: 9px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.no-element {
  transform: scale(1, 1) !important;
  z-index: 0 !important;
  cursor: context-menu !important;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 85%;
  flex-wrap: wrap;
  gap: 4px;
}

.pop-up {
  animation-name: popup;
  animation-duration: 300ms;
  padding-top: 65px;
}

@keyframes popup {
  0% {top: 100%;}
  100% {top: 0%;}
}

.pop-down {
  animation-name:  popdown;
  animation-duration: 300ms;
}

@keyframes popdown {
  0% {top: 0%;}
  100% {top: 100%;}
}

.arrow-a-weight {
  top: 53px;
  left: 165px;
}

.arrow-symbol {
  left: 135px;
}

.arrow-name {
  bottom: 55px;
  left: 140px;
}

.arrow-a-number {
  bottom: 150px;
  right: 175px;
}

.searchbar {
  box-shadow: inset 0 0 10px #7a7a7a;
  border: 0.5px solid #f3f3f3;
}

.filterButtons {
  box-shadow: inset 0 0 2px #7a7a7a;
}